* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 90%;
  margin-top: 70px;
}
.first {
  border-right: 1px solid #c9c7c7;
}

.oneCr {
  height: 30px;
  width: 70px;
}
.carousel {
  margin-top: 50px;
}
.para {
  margin-top: 40px;
}
h4 {
  margin: 50px 0 60px 0;
}
#referal {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #c9c7c7;
}
#MM {
  margin-top: 20px;
  color: #c9c7c7;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
#terms {
  margin-top: 80px;
}
.btn {
  width: 100%;
  margin-top: 10px;
  height: 45px;
  background: #7978da;
}
.need {
  display: none;
  justify-content: end;
}
.i {
  margin-right: 1%;
}
@media screen and (max-width: 780px) {
  .container {
    display: none;
  }
  .need {
    display: flex;
  }
}
.canva {
  display: flex;
  justify-content: start;
  border: 2px solid white;
  background: white;
  max-width: 20%;
}
